<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
  <title>阳光茶坊</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
  <link rel="stylesheet" href="./style/bootstrap.min.css">
  <link rel="stylesheet" href="./style/style.css">
  <style>
    header {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    header h3 {
      font-family:'Pacifico', 'Courier New', Courier, monospace
    }
    table tr:hover{
      background-color: #eee;
    }
  </style>
</head>
<body>
  <header>
    <h3 class="text-center">Sunshine Coffee Admin</h3>
  </header>
  <div class="container-fluid wrapper">
      <!-- <h5 class="text-center">添加商品</h5> -->
     <div class="row">
       <div class="col-sm-6 col-sm-offset-3">
          <form class="form-horizontal" action="/addCoffee" >
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">商品名称:</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">商品数量:</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="inputPassword3" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                  <button type="submit" class="btn btn-default">添加商品</button>
                </div>
              </div>
          </form>
       </div>
     </div>
     <div class="row">
       <h4 class="text-center">商品信息</h4>
       <div class="col-sm-6 col-sm-offset-3">
          <table class="table table-bordered text-center hover ">
              <thead>
                <tr>
                  <td>名称</td>
                  <td>添加时间</td>
                  <td>数量</td>
                  <td>操作</td>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>果粒橙</td>
                      <td>20180909</td>
                      <td>10</td>
                      <td>
                        <a href="">更新</a>
                      </td>
                    </tr>
              </tbody>
            </table>
       </div>
     </div>
     <div class="row">
       <h4 class="text-center">订单信息</h4>
       <div class="col-sm-6 col-sm-offset-3">
          <table class="table table-bordered text-center hover ">
              <thead>
                <tr>
                  <td>姓名</td>
                  <td>学院</td>
                  <td>时间</td>
                  <td>状态</td>
                  <td>详细</td>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>张三</td>
                      <td>电信学院</td>
                      <td>20180909</td>
                      <td>待处理</td>
                      <td>
                        <a href="">详细信息</a>
                      </td>
                    </tr>
              </tbody>
            </table>
       </div>
     </div>
     
  </div>
</body>
</html>