<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
  <title>阳光茶坊</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
  <link rel="stylesheet" href="./style/bootstrap.min.css">
  <link rel="stylesheet" href="./style/style.css">
  <style>
    header {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    header h3 {
      font-family:'Pacifico', 'Courier New', Courier, monospace
    }
    .form-horizontal {
      margin: 0 auto;
    }
    table tr:hover{
      background-color: #eee;
    }

  </style>
</head>
<body>
  <header>
    <h3 class="text-center">Sunshine Coffee Admin</h3>
  </header>
  <div class="container-fluid wrapper">
     <div class="row">
       <h4 class="text-center"><strong>订单详情</strong></h4>
       <div class="col-sm-6 col-sm-offset-3">
          <table class="table table-bordered text-center hover ">
              
              <tbody>
                  <tr>
                      <td>订单号</td>
                      <td>asdasd20180909</td>
                  </tr>
                  <tr>
                      <td>订单状态</td>
                      <td>待处理</td>
                  </tr>
                  <tr>
                      <td>姓名</td>
                      <td>老朱</td>
                  </tr>
                  <tr>
                      <td>易班id</td>
                      <td>asdasd20180909</td>
                  </tr>
                  <tr>
                      <td>学院</td>
                      <td>文理学院</td>
                  </tr>
                  <tr>
                      <td>创建时间</td>
                      <td>20181101</td>
                  </tr>
                  <tr>
                      <td><strong>商品信息</strong></td>
                      <td><strong>阿萨姆奶茶：2杯</strong></td>
                  </tr>
              </tbody>
            </table>
       </div>
     </div>
    
  </div>
</body>
</html>